<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container right-panel-active">
      <!-- Sign Up -->
      <div class="container__form container--signup">
        <form action="/api/Signup" class="form">
          <h2 class="form__title">Sign Up</h2>
          <input id="user" name="user" type="text" placeholder="User" class="input" />
          <input id="email" name="email" type="email" placeholder="Email" class="input" />
          <input id="Password" name="Password" type="password" placeholder="Password" class="input" />
          <button class="btn">Sign Up</button>
        </form>
      </div>

      <!-- Sign In -->
      <div class="container__form container--signin">
        <form onsubmit="login(event)" class="form" >
          <h2 class="form__title">Sign In</h2>
          <input id="name" name="username" type="text" placeholder="Email" class="input" />
          <input id="password" password="password" type="password" placeholder="Password" class="input" />
          <a href="#" class="link">Forgot your password?</a>
          <button class="btn">Sign In</button>
        </form>
      </div>

      <!-- Overlay -->
      <div class="container__overlay">
        <div class="overlay">
          <div class="overlay__panel overlay--left">
            <button class="btn" id="signIn">Sign In</button>
          </div>
          <div class="overlay__panel overlay--right">
            <button class="btn" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      const signInBtn = document.getElementById("signIn");
      const signUpBtn = document.getElementById("signUp");
      const fistForm = document.getElementById("form1");
      const secondForm = document.getElementById("form2");
      const container = document.querySelector(".container");

      signInBtn.addEventListener("click", () => {
        container.classList.remove("right-panel-active");
      });

      signUpBtn.addEventListener("click", () => {
        container.classList.add("right-panel-active");
      });

      
      // fistForm.addEventListener("submit", (e) => e.preventDefault());
      // secondForm.addEventListener("submit", (e) => e.preventDefault());



      async function login(event){

        event.preventDefault(); //Reloading stop

        var data={
            email:document.getElementById('name').value,
            Password:document.getElementById('password').value
        }

        var res = fetch("/api/Signin/login", {
            method:"POST",
            body: JSON.stringify(data),
            headers:{
                'Content-Type': 'application/json',
            }
        })

        res=await res.JSON();

        if(res.success){
            alert(res.message);
            window.redirect('/Dashboard');

        }
        else{
            alert(res.message);
        }

      }
    </script>
  </body>
</html>
